//META{"name":"Discord_Theme ft. unit","description":"Discord was still to cozy.","author":"AlexFlipnote ft. unit","version":"1.1.3"}*//
/* This CSS file is meant for use with BetterDiscord. */

@import "https://rawgit.com/unitofcentralprocessing/c8f63bb33841c437001b62c841e4b6bb/raw/81c06230b03f44ed0b3e0c98fc844f71ee6f8455/theme.css";
/*@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/transparent.css";*/

:root{
  --notif: #e62358;
  --accent: #e62358;
  --dark-primary: #212121;
  --dark-secondary: #303030;
  --dark-highlight: #181818;
  --nsfw-image: url("https://i.imgur.com/7lCcU2X.jpg");
  --emoji-image: url("https://i.imgur.com/8azxDEj.png");
  --background-image: url("https://i.imgur.com/U55AE8Y.jpg"); /* Won't work unless required sections are uncommented. */
}

/* Background (also uncomment the above import) */
/*
.app { background: rgba(0, 0, 0, 0.75); }
body, .callout-backdrop {
  background: var(--background-image);
  background-size: cover; background-attachment: fixed;
  background-position: center; background-repeat: no-repeat;
}
.callout-backdrop {
  opacity: 0.75 !important;
}
@keyframes Bidoof {
  from { opacity: 0;}
  to { opacity: 0.75; }
}
.theme-dark .friends-table .messages .divider:before,
.theme-dark .friends-table .messages .divider span,
.theme-dark .messages-wrapper .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider span {
  background-color: transparent;
}
*/
